.background{
	background: url("//d3h5jhobc20ump.cloudfront.net/baaea3255487f3b82e6c343dfd42e5a9.jpg") top center no-repeat;
	/*text-align: center;*/
	color: white;
	padding-top: 32px;
	padding-bottom:32px;
	padding-left: 44px;
	background-size: cover;
}

body{
	margin: 0;
}


.title{
	font-family: brandon-grotesque,sans-serif;
	font-weight: 500;
	font-size: 48px;
}

.a{
	font-family: proxima-nova,sans-serif;
	font-weight: 300px;
	font-size: 21px;
}

.logo{
	position: relative;
	float: left;
	margin-right: 32px;

  /*margin-top: -30px;*/
}

.stuff{
	padding-top: 80px;
	text-align: center;

}
.navigation{
  line-height: 46px;
	font-family: brandon-grotesque,sans-serif;
	font-size: 13px;
	font-weight: 600;
	display: inline;
}

.menu{
	margin-right: 25px;
	text-decoration: none;
	color: white;
	z-index: 1;
	display: inline;
}

h2{
	display: inline;
}

.reveal{
		z-index: -1;
		color: red;
		top;
}

.login{
	position: relative;
	float: right;
	height: 46px;
	width: 114px;
	border: 1px white solid;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	font-weight: 500;
	
	text-decoration: none;
	color: white;
}

#signup{
	background-color: white;
	color: #61b3de;
	margin-left: 10px;
	margin-right: 30px;
}

.form{
	display: block;
	text-align: center;


	line-height: 49px;
	font-family: brandon-grotesque,sans-serif;

	font-weight: 500;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 29px;
	padding-right: 29px
}

#button{
	height: 49px;
	background: #ee6123;
	border-radius: 0px 3px 3px 0px;
	color: white;
	border: 0;
	font-size: 12px;
	margin-left: -5px;
	padding-left: 29px;
	padding-right: 29px;
}

#textbox{
	height: 49px;
	width: 400px;
	border: 0;
	padding: 20px;
  font-family: proxima-nova, sans-serif;
  font-size: 12px;
  font-weight: 200;
  border-radius: 3px 0px 0px 3px;
}

.details{
	padding-top: 20px;
	text-align: center;
/*	display:none;*/
	height: 450px;
}

.power{
	font-size: 22px;
	margin-top: 0;
	line-height: 28px;
}

.subheader{
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #707a80;
}
.features{
	padding-top: 20px;
	padding-bottom: 50px;
}

.onefeature{
  position: relative;
  display:inline-block;
  padding: 10px 20px;
  text-align: center;
  width: 25%;
  margin:	auto;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #a3aaae;
  opacity: 0.5;
}

.featureheading{
	color: #4f565a;
	font-family: brandon-grotesque,sans-serif;
	font-weight: 500;
	font-size: 21px;
}


.pull-me {
	display:block;
	width: 200px;
	height: 20px;
	margin: auto;
	font-family:arial,sans-serif;
    font-size:14px;
	color: black;
    background: grey;
	text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align:center;
    cursor:pointer;
}

#db-list{
	box-sizing: border-box;
	width: 70%;
	display: flex;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	
	padding-bottom: 100px
}

th, td {
    border: 1px solid black;
}

.urlcol{
	text-align: left;
	padding-left: 10px;
	word-break: break-all;
}

.titcol{
	text-align: left;
	padding-left: 10px;
	word-wrap: break-word;
}